/* =========================================
   Global Settings & Resets
   ========================================= */

/* Text selection color */
::selection {
  background-color: #E8A5F3;
  color: #070707;
}

/* User Interface settings */
.hero_display {
  user-select: none;
}

/* Hide scrollbar (All browsers) */
html {
  scrollbar-width: none; /* Firefox */
}

body {
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* =========================================
   Utilities
   ========================================= */

.hidden {
  display: none !important;
}

.load_grid {
  display: grid;
}

/* Hides the Webflow badge */
.webflow-badge {
  display: none !important;
}

/* =========================================
   Lenis Smooth Scroll
   ========================================= */

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

/* =========================================
   Animations & Transitions
   ========================================= */

/* Lazy loading sections */
.lazy-section {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
}

.lazy-section.active {
  opacity: 1;
  visibility: visible;
}

/* Text & Shadow color dynamics */
[data-responsive-text="true"],
a[line-mask-link] [line-mask-text] {
  transition: color 1s cubic-bezier(.2, 1, .3, 1), text-shadow 1s cubic-bezier(.2, 1, .3, 1);
}

a[line-mask-link] [line-mask-text] {
  text-shadow: 0px 1em 0px var(--shadow-color, currentColor);
}

a[line-mask-link] [line-mask-text="pastel-pink"] {
  --shadow-color: #FFDFC4;
}

a[line-mask-link] [line-mask-text="peach"] {
  --shadow-color: #FFEBB0;
}

/* Background transition element */
.change-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -7;
  background-color: #FFDFC4;
  transition: background 1s ease;
}